* {
    margin: 0;
  font-family: "Anton", sans-serif;
     font-weight: 500;
        font-style: normal;
        color: #000000;

}

#nav_bar {
    border-bottom:  .1px solid  rgb(199, 195, 195);   
    position: absolute;
    width: 100%;
    height: 50px;
    position: absolute;
    text-align: right;
    font-size: 15px;
    letter-spacing: 1px;
}
#nav_home {
    position: absolute;
    right: 450px;
    top: 15px;
}

#nav_find { 
    position: absolute; 
     top: 15px;
     right: 300px;
    
}
#nav_about {
    position: absolute;
    top: 15px;
    right: 180px;

}

#nav_signup {
    position: absolute;
    top: 15px;
    right: 50px;
}
#nav_web_logo { 
    position: absolute;
    height: 40px;
    left: 20px;
    top: 5px;
}
#nav_webname {
    position: absolute;
    left: 70px;
    font-size: 25px;
    top: 12px;
    font-weight: bold;
}
#fp_header_goyo {
    position: absolute;
    height:550px;
    left: 800px;
    top: 180px;

}
#fp_description {
        font-family: "Lato", sans-serif;
        position: absolute;
        font-size: 12px;
        right: 700px;
        left: 50px;
        top:200px;
        color:black
}
#fp_title {
    position: absolute;
    font-family: "Anton", sans-serif;
    font-size: 100px;
    right: 700px;
    left: 50px;
    top:100px;
    font-weight: 700;
       font-style: bold;
       color: #ff5900;

}
#square {
    position: absolute;
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    top: 290px;
    left: 100px;
    -webkit-box-shadow: 0px 0px 20px 2px #ff5900;
    -moz-box-shadow: 0px 0px 20px 2px #ff5900;
    -ms-box-shadow: 0px 0px 20px 2px #ff5900;
    -o-box-shadow: 0px 0px 20px 2px #ff5900;
    box-shadow: 0px 0px 20px 2px #ff5900;

  }

